/* 样式重置（弥补各类标签的先天不足） */
body,ul,p,h1,h2,h3,h4,h5,d1,dd,form,input,textarea,select
{padding:0;margin:0;font-family: arial;}
li {list-style: none;}
img {border: none;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
body {background:#fff url(../image/task0\(1\).png) repeat-x;}
li{float:left;}
p{color: #fff;}

#top{ widows: 960px;margin: 0 auto;height: 30px;}

.top_menu{float: left;}
.top_menu li{float: left; font-size: 13px; line-height: 30px; margin-left: 15px;}
.top_menu a{color: #c0c0c0;}
.top_menu a:hover{color: #fff;}
.top_menu .no_dot{background: none; padding: 0; margin: 0;}

.top_bar{float: right;}
.top_bar li{float: left; height: 30px; color: #fff; font-weight: bold; font-size: 13px; line-height: 30px; padding-left: 38px;}
